@{
    ViewData["Title"] = "Home Page";
}
<div id="root"></div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Start planning you meal and diet with your personal CookBook!</p>
</div>
