@model IEnumerable<Cookbook.Common.Models.Recipe>
@{
    ViewData["Title"] = "Ingredients";
}
<div class="row">
    <div class="col-lg-6">
        @await Html.PartialAsync("RecipesList", Model)
    </div>
    <div class="col-lg-6">
        @await Html.PartialAsync("CreateRecipe",Model.First())
    </div>
</div>