@model Cookbook.Common.Models.Ingredient

@using (Html.BeginForm("CreateIngredient", "Ingredients", FormMethod.Post, new
{
    @class = "form-horizontal",
    role = "form"
}))
{
    <h4>Create new Ingedient</h4>

    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @Id = "name" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Kcal100, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Kcal100, new { @class = "form-control", @Id = "kcal100"})
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <button type="submit">CreateIngredient</button>
        </div>
    </div>
}