@model IEnumerable<Cookbook.Common.Models.Ingredient>  
@{
    ViewData["Title"] = "Ingredients";
}
<div id="root" onload="hello();"></div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <button type="button" class="btn btn-dark" onclick="hello();">Dark</button>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Kcal per 100</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ingredient in Model)  
            {  
                <tr>  
                    <td>@ingredient.Id</td>  
                    <td>@ingredient.Name</td>  
                    <td>@ingredient.Kcal100</td>   
                </tr>  
            } 
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
            </tr>
        </tbody>
    </table>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
